:root {
  --settings-icon-color: #c1c7cd;
  --chat-header-bg: #fff;
  --theme-bg-color: #fff;
  --chat-text-bg: #f1f2f6;
  --theme-color: #0086ff;

  --button-color: var(--theme-color);
  --overall-width: 60%;
}

[data-theme="purple"] {
  --theme-color: #9f7aea;
  --button-color: #9f7aea;
  --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme="green"] {
  --theme-color: #38b2ac;
  --button-color: #38b2ac;
  --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme="orange"] {
  --theme-color: #ed8936;
  --button-color: #ed8936;
  --button-bg-color: rgba(237, 137, 54, 0.12);
}

.dark-mode {
  --chat-text-bg: #383b40;
  --chat-text-color: #b5b7ba;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chat-area {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: var(--overall-width);
  position: relative;
  overflow: auto;
  max-width: 700px;

  &-header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    // margin-bottom: 1.5rem;
    // width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    background: var(--chat-header-bg);
  }
  &-profile {
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  &-title {
    font-size: 18px;
    font-weight: 600;
  }
  &-main {
    min-height: calc(100% -61px);
    // flex-shrink: 0;
    margin: 2.5rem 0rem;
    // background: red;

    // transform: scale3d(1, 1, 1);
    width: 100%;
  }
}

.chat-msg-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-msg-profile {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.chat-msg-date {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--msg-date);
  white-space: nowrap;
}

.chat-msg {
  display: flex;
  padding: 0 10px 45px;
  &-content {
    margin-left: 12px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-text {
    background-color: var(--chat-text-bg);
    padding: 15px;
    border-radius: 20px 20px 20px 0;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    & + & {
      margin-top: 10px;
    }
  }
}

.chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  flex-direction: row-reverse;
  .chat-msg-content {
    margin-left: 0;
    margin-right: 12px;
    align-items: flex-end;
  }
  .chat-msg-text {
    background-color: var(--theme-color);
    color: #fff;
    border-radius: 20px 20px 0 20px;
  }
  .chat-msg-date {
    left: auto;
    right: calc(100% + 12px);
  }
}

.chat-msg-text img {
  max-width: 300px;
  width: 100%;
}

.chat-area-footer {
  display: flex;
  border-top: 1px solid var(--border-color);
  // width: var(--overall-width);

  padding: 10px 0px;
  align-items: center;
  background-color: var(--theme-bg-color);
  // position: sticky;
  // bottom: 0;
  // left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  //
  position: fixed;
  bottom: 0;
  width: inherit;
  max-width: inherit;
}

.chat-area-footer svg {
  color: var(--settings-icon-color);
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;
  &:hover {
    color: var(--settings-icon-hover);
  }

  & + svg {
    margin-left: 12px;
  }
}

.chat-area-footer input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin-right: 12px;
  flex-grow: 0;
  // width: calc(100% -12px);
  width: 100%;

  &::placeholder {
    color: var(--input-chat-color);
  }
}
