:root {
  --settings-icon-color: #c1c7cd;
  --chat-header-bg: #fff;
  --theme-bg-color: #fff;
  --chat-text-bg: #f1f2f6;
  --theme-color: #0086ff;
  --button-color: var(--theme-color);
  --overall-width: 60%;
}

[data-theme="purple"] {
  --theme-color: #9f7aea;
  --button-color: #9f7aea;
  --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme="green"] {
  --theme-color: #38b2ac;
  --button-color: #38b2ac;
  --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme="orange"] {
  --theme-color: #ed8936;
  --button-color: #ed8936;
  --button-bg-color: rgba(237, 137, 54, 0.12);
}

.dark-mode {
  --chat-text-bg: #383b40;
  --chat-text-color: #b5b7ba;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chat-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: var(--overall-width);
  position: relative;
  overflow: auto;
  max-width: 700px;
}

.chat-area-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
          box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background: var(--chat-header-bg);
}

.chat-area-profile {
  width: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-area-title {
  font-size: 18px;
  font-weight: 600;
}

.chat-area-main {
  min-height: calc(100% -61px);
  margin: 2.5rem 0rem;
  width: 100%;
}

.chat-msg-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-msg-profile {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.chat-msg-date {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--msg-date);
  white-space: nowrap;
}

.chat-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 45px;
}

.chat-msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-msg-text {
  background-color: var(--chat-text-bg);
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
}

.chat-msg-text + .chat-msg-text {
  margin-top: 10px;
}

.chat-msg-text {
  color: var(--chat-text-color);
}

.owner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.owner .chat-msg-content {
  margin-left: 0;
  margin-right: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.owner .chat-msg-text {
  background-color: var(--theme-color);
  color: #fff;
  border-radius: 20px 20px 0 20px;
}

.owner .chat-msg-date {
  left: auto;
  right: calc(100% + 12px);
}

.chat-msg-text img {
  max-width: 300px;
  width: 100%;
}

.chat-area-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid var(--border-color);
  padding: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--theme-bg-color);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: fixed;
  bottom: 0;
  width: inherit;
  max-width: inherit;
}

.chat-area-footer svg {
  color: var(--settings-icon-color);
  width: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}

.chat-area-footer svg:hover {
  color: var(--settings-icon-hover);
}

.chat-area-footer svg + svg {
  margin-left: 12px;
}

.chat-area-footer input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin-right: 12px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 100%;
}

.chat-area-footer input::-webkit-input-placeholder {
  color: var(--input-chat-color);
}

.chat-area-footer input:-ms-input-placeholder {
  color: var(--input-chat-color);
}

.chat-area-footer input::-ms-input-placeholder {
  color: var(--input-chat-color);
}

.chat-area-footer input::placeholder {
  color: var(--input-chat-color);
}
/*# sourceMappingURL=styles.css.map */